body {
    background-color: #9BC09F;
}
.inline-block {
display: inline-block;
vertical-align: top;
}

.logo {
    width: 23%;
    text-align: left;
}
nav {
    width: 98%;
    padding: 1%;
}
ul {
    width: 90%;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Red Rose', cursive;
    text-align: right;
    word-spacing: 1cm;
}
nav .logo {
    float: left;
}
.heroimg {
    background-color: #FFFFFF;
    padding: 2%;
    margin: 4%;
    height: 400px;
    padding: 1px;
}
#aboutme {
    text-align: center;
    }
h1 {
    padding: 4%;
    font-size: 50px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Red Rose', cursive;
    float: left;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Red Rose', cursive;
}
p {
    text-align: center;
    font-size: 35px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Red Rose', cursive;
    vertical-align: text-bottom; 
    padding: 2%;
}
.content {
    text-align: center;
    background-color: #FFEAEA;
    margin: 4%;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Red Rose', cursive;
}   

h3 {
    font-size: 40px;
    padding: 4%;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Red Rose', cursive;
}

h4 {
    font-size: 35px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Red Rose', cursive;
    text-align: center;
}

.workGrid {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
    'sahsimg sahsDescription'
    'epaimg epaDescription'
    'syteimg syteDescription';
}
.sahs {
   grid-area: sahsimg; 
   padding: 4%;
   margin: 5%;
}
#sahs {
    font-size: 20px;
}
.sahsDescription {
    grid-area: 'sahsDescription';
    text-align: center;
}


.epa {
    grid-area: 'epaimg';
    padding: 4%;
    margin: 5%;
}
#epa {
    font-size: 20px;
}
.epaDescription {
    grid-area: 'epaDescription';
    text-align: center;
}

.syte {
    grid-area: 'syteimg';
    padding: 4%;
    margin: 5%;
}
#syte {
    font-size: 20px;
}
.syteDescription {
    grid-area: 'syteDescription';
    text-align: center;
}

h5 {
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Red Rose', cursive;
    text-align: center;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.firstSkill {
    flex-direction: column;
    padding: 4%;
    width: 23%;
}
#prototyping {
    font-size: 18px;
}
.prototypingImg {
    flex-direction: row;
}

.secondSkill {
    flex-direction: column;
    padding: 4%;
    width: 23%;
}
#research {
    font-size: 18px;
}
.researchImg {
    flex-direction: row;
}

.thirdSkill {
    flex-direction: column;
    padding: 4%;
    width: 23%;
}
#design {
    font-size: 18px;
}
.designImg {
    flex-direction: row;
}

.fourthSkill {
    flex-direction: column;
    padding: 4%;
    width: 23%;
}
#tools {
    font-size: 18px;
}
.toolsImg {
    flex-direction: row;
}

footer {
    background: #FDFEDE;
    margin: 4%;
}
button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    padding: 1%;
    font-family: 'Cairo', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Red Rose', cursive;
    border-radius: 8px;
    margin: 4px 2px;
    text-align: left;
    position: relative; 
}
.container1 {
    position: sticky;
    text-align: left;
    padding: 2%;
    float: left;
}
.container2 {
    position: sticky;
    text-align: right;
    padding: 2%;
}

@media only screen and (max-width: 600px) {
    .workGrid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        'sahsimg' 
        'sahsDescription'
        'epaimg'
        'epaDescription'
        'syteimg'
        'syteDescription';
    }
    .flexContainer {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}
